<div class="footer-container">
    <div class="redes-sociais">
        <a href="https://github.com/aledguedes" target="_blanck">
            <i class="ri-github-fill"></i>
        </a>

        <a href="https://www.linkedin.com/in/alexandre-guedes-3547b04b/" target="_blanck">
            <i class="ri-linkedin-box-fill"></i>
        </a>

        <a href="https://www.instagram.com/alexandredguedes/" target="_blanck">
            <i class="ri-instagram-fill"></i>
        </a>

        <a href="https://www.facebook.com/alexandredguedes" target="_blanck">
            <i class="ri-facebook-circle-fill"></i>
        </a>
    </div>
    <div class="developer">
        <p>Desenvolvido por Alexandre Guedes</p>
    </div>
</div>
